@model mvc.Models.Abonament

@{
    ViewData["Title"] = "Delete Subscription";
}

<link rel="stylesheet" href="~/css/default2.css" asp-append-version="true" />

<section class="bodyController">
<h1>Delete Subscription</h1>

<div>
        <table class="table">
            <tr>
                <th>Subscription ID</th>
                <th>Subscription Type</th>
            </tr>
            <tr>
                <td>@Model.id</td>
                <td>@Model.Tip_Abonament</td>
            </tr>
        </table>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
</section>