@{
    ViewData["Title"] = "Abonament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home - Coffee Shop</title>
    <link rel="icon" href="img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/default.css">
</head>
<body class="abonamentBody">
    

    <div class="product_container">
        <div class="plan_title"><h1>Planuri de abonament</h1></div>
        <div class="plan_subtitle"><p>Flexibil și fără contract. Primiți beneficii extra pentru loialitate. Puteți anula abonamentul oricând doriți. </p></div>
        <div class="pricing_table">
            <div class="pricing_card featured">
                <h2>Gourmand</h2>
                <p>Savurați 3-4 cafele pe zi<br>(aproximativ 90-120 cafele pe lună)</p>
                <h2>199 RON</h2>
                <h2>Rată<br>Lunară</h2>
                <p>8% reducere la cafea în primele 5 luni</p>
                <p>10% reducere la cafea după 6 luni</p>
                <p>Rata se transformă în credit pentru achiziția de produse Nespresso</p>
                <a href="#" class="buyButton"><h2>Cumpărați</h2></a>
                <p>Din prima lună:</p>
                <ul class="plan_features">
                    <li>8% reducere la orice comandă de cafea</li>
                    <li>Livrare gratuită la orice comandă pe durata abonamentului</li>
                    <li>>199 RON credit/lună în cont pentru achiziția de produse</li>
                </ul>
                <p>După 3 luni deveniți Ambasador:</p>
                <ul class="plan_features">
                    <li>15% reducere permanentă la accesorii</li>
                    <li>Acces la vânzări exclusive de cafea</li>
                    <li>Garanţie extinsă pentru espressoarele achiziţionate</li>
                    <li>Soluție decalcifiere <strong>CADOU</strong> la 10 pungi achiziționate</li>
                </ul>
                <p>După 6 luni:</p>
                <ul class="plan_features">
                    <li>10% reducere la orice comandă de cafea</li>
                </ul>
                <p>După 12 luni:</p>
                <ul class="plan_features">
                    <li>Accesoriu cadou aniversar</li>
                </ul>
            </div>
        </div>
    </div>

            <div class="pricing_table">
                <div class="pricing_card featured">
                    <h2>Explorator</h2>
                    <p>Savurați 1-2 cafele pe zi<br>(aproximativ 30-60 cafele pe lună)</p>
                    <h2>119 RON</h2>
                    <h2>Rată<br>Lunară</h2>
                    <p>6% reducere la cafea în primele 5 luni</p>
                    <p>8% reducere la cafea după 6 luni</p>
                    <p>Rata se transformă în credit pentru achiziția de produse Nespresso</p>
                    <a href="#" class="buyButton"><h2>Cumpărați</h2></a>
                    <p>Din prima lună:</p>
                    <ul class="plan_features">
                        <li>6% reducere la orice comandă de cafea</li>
                        <li>Livrare gratuită la orice comandă pe durata abonamentului</li>
                        <li>>119 RON credit/lună în cont pentru achiziția de produse</li>
                    </ul>
                    <p>După 3 luni deveniți Ambasador:</p>
                    <ul class="plan_features">
                        <li>15% reducere permanentă la accesorii</li>
                        <li>Acces la vânzări exclusive de cafea</li>
                        <li>Garanţie extinsă pentru espressoarele achiziţionate</li>
                        <li>Soluție decalcifiere <strong>CADOU</strong> la 10 pungi achiziționate</li>
                    </ul>
                    <p>După 6 luni:</p>
                    <ul class="plan_features">
                        <li>8% reducere la orice comandă de cafea</li>
                    </ul>
                    <p>După 12 luni:</p>
                    <ul class="plan_features">
                        <li>Accesoriu cadou aniversar</li>
                    </ul>
                </div>
	        </div>

                <div class="pricing_table">
                    <div class="pricing_card featured">
                        <h2>Pasionat</h2>
                        <p>Savurați 4+ cafele pe zi<br>(aproximativ 120+ cafele pe lună)</p>
                        <h2>259 RON</h2>
                        <h2>Rată<br>Lunară</h2>
                        <p>10% reducere la cafea în primele 5 luni</p>
                        <p>12% reducere la cafea după 6 luni</p>
                        <p>Rata se transformă în credit pentru achiziția de produse Nespresso</p>
                        <a href="#" class="buyButton"><h2>Cumpărați</h2></a>
                        <p>Din prima lună:</p>
                        <ul class="plan_features">
                            <li>10% reducere la orice comandă de cafea</li>
                            <li>Livrare gratuită la orice comandă pe durata abonamentului</li>
                            <li>>199 RON credit/lună în cont pentru achiziția de produse</li>
                        </ul>
                        <p>După 3 luni deveniți Ambasador:</p>
                        <ul class="plan_features">
                            <li>15% reducere permanentă la accesorii</li>
                            <li>Acces la vânzări exclusive de cafea</li>
                            <li>Garanţie extinsă pentru espressoarele achiziţionate</li>
                            <li>Soluție decalcifiere <strong>CADOU</strong> la 10 pungi achiziționate</li>
                        </ul>
                        <p>După 6 luni:</p>
                        <ul class="plan_features">
                            <li>12% reducere la orice comandă de cafea</li>
                        </ul>
                        <p>După 12 luni:</p>
                        <ul class="plan_features">
                            <li>Accesoriu cadou aniversar</li>
                        </ul>
                    </div>
                </div>
                <script src="assets/js/isLogged.js"></script>

</body>
</html>
