@{
    ViewData["Title"] = "Espressoare";
}


<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home - Coffee Shop</title>
    <link rel="icon" href="img/logo2.png" type="image/x-icon">
</head>
<body class="espressoareBody">
    <section class="products" id="menu">
        <h1 class="heading">Espressoare automate</h1>
        <div class="box-container">
            <div class="box">
                <div class="boxImg">
                    <img src="~/img/lore/rivelia.png" alt="" width="400" height="400">
                </div>
                <div class="content">
                    <h3> Rivelia</h3>
                    <a asp-controller="Home" asp-action="Rivelia" class="btnExp">Descopera</a>
                </div>
            </div>
            <div class="box">
                <img src="~/img/lore/dinamica.png" alt="" width="400" height="400">
                <div class="content">
                    <h3> Dinamica Plus</h3>

                    <a href="#" class="btnExp">Descopera</a>
                </div>
            </div>
            <div class="box">
                <img src="~/img/lore/elleta.png" alt="" width="400" height="400">
                <div class="content">
                    <h3> Elleta Explore</h3>

                    <a href="#" class="btnExp">Descopera</a>
                </div>
            </div>

        </div>
        <h1 class="heading">Espressoare manuale</h1>
        <div class="box-container">
            <div class="box">
                <img src="~/img/lore/galben.png" alt="" width="400" height="400">
                <div class="content">
                    <h3>La Specialista Arte Yellow</h3>
                    <a href="#" class="btnExp">Descopera</a>
                </div>
            </div>
            <div class="box">
                <img src="~/img/lore/verde.png" alt="" width="400" height="400">
                <div class="content">
                    <h3> La Specialista Arte Green</h3>

                    <a href="#" class="btnExp">Descopera</a>
                </div>
            </div>
            <div class="box">
                <img src="~/img/lore/gri.png" alt="" width="400" height="400">
                <div class="content">
                    <h3> La Specialista Opera</h3>

                    <a href="#" class="btnExp">Descopera</a>
                </div>
            </div>

        </div>

    </section>


    <script src="assets/js/isLogged.js"></script>
</body>
</html>

