@{
    ViewData["Title"] = "Poveste";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home - Coffee Shop</title>
    <link rel="icon" href="img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section class="about" id="about">

        <div class="row">

            <div class="image">
                <iframe width="1450" height="100"
                        src="~/img/Herobanner.mp4">
                </iframe>

            </div>

            <div class="content">
                <h3>
                    Lasă-te învăluit de experiența
                    premium a cafelei
                </h3>
                <p>Experimentează simplitatea espressoarelor noastre automate fără compromisuri de la calitate. Indiferent dacă este vorba despre un espresso sau un cappucciono, bucură-te de băutura ta preferată pe bază de cafea, cu o singură atingere.</p>
                <p></p>

            </div>
            <div class="content2">
                <iframe width="800" height="400"
                        src="~/img/Sidecard-A-mobile.mp4">
                </iframe>
                <div class="content2txt">
                    <h4>TEHNOLOGIILE LATTECREMA HOT ȘI COOL</h4>
                    <h3>Un cappuccino perfect, cald sau rece</h3>
                    <p>Datorită comenzilor electronice de înaltă precizie, tehnologiile LatteCrema Hot și Cool pregătesc automat o spumă bogată, cremoasă și de lungă durată, la temperatura potrivită, caldă sau rece, și prin simpla atingere a unui buton. Bucură-te de toate băuturile preferate cu lapte sau chiar cu alternative pe bază de plante.*Tehnologia Cold Extraction extrage aroma florală și dulceața naturală a boabelor tale preferate, folosind apă la presiune scăzută și la temperatura camerei, pentru o cafea delicioasă și revigorantă Cold Brew preparată în mai puțin de 5 minute.</p>

                </div>
            </div>


        </div>
    </section>
        <script src="assets/js/isLogged.js"></script>
</body>
</html>
