@{
    ViewData["Title"] = "Tipuri_cafea";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home - Coffee Shop</title>
    <link rel="icon" href="img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="cafeaBody">

    <section class="products" id="products">


        <div class="box-container">

            <div class="box">

                <div class="image">
                    <img src="~/img/product-1.png" alt="">
                </div>
                <div class="content">
                    <h3>Nicaragua green coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">20.00RON <span>35.99RON</span></div>
                    <a href="#" class="btn"><h2>Cumpărați</h2></a>
                </div>
            </div>

            <div class="box">

                <div class="image">
                    <img src="~/img/product-2.png" alt="">
                </div>
                <div class="content">
                    <h3>Columbia black coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">35.00RON <span>40.00RON</span></div>
                    <a href="#" class="btn"><h2>Cumpărați</h2></a>
                </div>
            </div>

            <div class="box">

                <div class="image">
                    <img src="~/img/product-3.png" alt="">
                </div>
                <div class="content">
                    <h3>Peruvian coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="price">49.99RON <span>59.99RON</span></div>
                    <a href="#" class="btn"><h2>Cumpărați</h2></a>
                </div>
            </div>

        </div>

    </section>

    <script src="assets/js/isLogged.js"></script>

</body>
</html>
