@model mvc.Models.Cos_cumparaturi

@{
    ViewData["Title"] = "Create Cos Cumparaturi";
}

<link rel="stylesheet" href="~/css/default2.css" asp-append-version="true" />

<section class="bodyController">
    <h1>Create Cos Cumparaturi</h1>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="UserID"></label>
            <input asp-for="UserID" class="form-control" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IDCafea"></label>
            <input asp-for="IDCafea" class="form-control" />
            <span asp-validation-for="IDCafea" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodEspressor"></label>
            <input asp-for="CodEspressor" class="form-control" />
            <span asp-validation-for="CodEspressor" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>

    </form>
</section>